// .s {
//     background-color: black;
    
// }

.g {
    background-color: white;
    height:30vh;
    border-color: black;
    margin:15px 0px 0px 20px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
}


.h {
    width:2vw;
    margin-right:0px
}

.dropdown-menu{
    cursor: pointer
}

.dropdown-item:hover{
    background-color: #6c757d;
}