.App {
  text-align: center;
  overflow: hidden;
}


.App-header {
  background-color: #ffffff;
  max-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 1.5em;
  text-decoration: none;
  /* color: white; */
}


