.navbar{
    // width:100%;
    font-size:1em;
    background-color: #6c757d;
    // color:white;
    // position: fixed;
    // text-decoration: none;
    // justify-content: center;
    // top:0;
    // height:6vh;
 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .searchBar {
        display: none;
    }
    .login {
        display: none;
    }
    .navbar {
        background-color: black;
    }
  }

.container{
    
    // display:flex;
    
  
    
    // margin:0;
    
}

.home{
    // position:absolute;
    // margin-top:0.3em;
    // left:auto;
    
    text-decoration: none;
    color:white;
    // position:relative
}
.login{
    // margin-top:0.3em;
//    position:relative;
   text-decoration:none;
   color:white;
}

.dashboard{
    // position:relative;
    text-decoration: none;
    color:white;
    // margin-top:0.3em;
    
}

br {
    margin-top:0px
}