.navbar{
    width:100%;
    
    background-color: grey;
    color:white;
    position: fixed;
    
    justify-content: center;
    top:0;
    height:6%;

    
}

.container{
    
    display:flex;
    align-content: center;
    width:100%;
    height:100%;
    position:relative
}

.home{
    position:absolute;
    right:0;
    bottom:0;
    text-decoration: none;
    color:white;
}
.login{
   background-color: white;
}

.dashboard{
    
}